.App {
  text-align: center;
}

.App-logo {
  padding: 60px;
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: pink;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.loid {
  height: 30vmin;
  padding-right: 100px;
}

.yor {
  height: 30vmin;
  padding-left: 100px;
}
